.profile{
    height: 55px;
    width: 55px;
    border-radius: 35px;
    margin-left: 450px;
    text-align: end;
   
    
    
    
}
.profile1{
    height: 55px;
    width: 55px;
    border-radius: 35px;
    
}
.time{
    margin-left: 200px;
}
.mark{
    margin-left:25px;
    margin-bottom: 50px;
    
}
.side{
    text-align: center;
}
.display{
    width:1009px;
    
}
.btn{
    border: white;
}